
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.benar-bg{
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    margin-top: 45px;
}
.header-section{
    text-align: center;
    padding: 10px 30px 10px 30px;
}
.heading-title{
    font-weight: 800;
    font-size: 48px;
    margin: 0 80px 0 80px;
    padding: 15px;
    color: #0D1321;
}
.button-style{
    background-color: black;
    color: white;
    margin-top: 15px;
    border-radius: 7px;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.heading-description{
    margin: 0 150px 0 150px;
    padding: 15px;
    margin: 0px 90px 0px 30px;
}
.common-color{
    font-weight: 500;
    font-size: 16px;
    color: #3C3E41;
    margin-bottom: 40px;
}
main{
    max-width: 850px;
    margin: 0 auto;
    margin-top: 50px;
}
main a{
    text-decoration: none;
}
.section-2-title{
    margin-top: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: #0D1321;
}
.section-2-h3{
    color: #0D1321;
}
.section-2-description{
    margin-bottom: 60px;
    font-weight: 200;
    font-size: 14px;
}
.section-2{
    padding: 40px 70px;
    text-align: center;
    background-color: beige;
    border-radius: 15px;
}
.why-web-1{
    display: flex;
    align-items: center;
}
.web-part-1{
    text-align: left;
}
.why-web-2{
    display: flex;
}
.video-section{
    text-align: center;
}
.tergets-section{
}
.s-2-bc-1{
    background-color: #F9896C;
    margin-right: 10px;
    padding: 20px;
    border-radius: 14px;
    font-size: 10px;
    font-weight: 100;
}
.s-2-bc-2{
    background-color: aquamarine;
    margin: 0px 10px 0px 10px;
    padding: 20px;
    border-radius: 14px;
    font-size: 10px;
    font-weight: 100;
}
.s-2-bc-3{
    background-color: greenyellow;
    margin-left: 10px;
    padding: 20px;
    border-radius: 14px;
    font-size: 10px;
    font-weight: 100;
}
.video-1{
    width: 798px;
    height: 480px;
    margin: 10px;
    border: 1px solid gray;
    padding: 0px 20px 20px 20px;
    border-radius: 16px;
}
.tergets-section{
    display: flex;
}
.section-4{
    background-image: url('../assets/handshake.jpg');
    max-width: 850px;
    height: 200px;
    background-position: center;
    margin-top: 45px;
    border-radius: 16px;
    text-align: center;
    padding: 10px 30px 10px 30px;
}
.section-4-h2{
    font-weight: 700;
    font-size: 30px;
    color: white;
}
.section-4-p{
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 10px 80px;
}
.icon-style{
    list-style: none;
    display: flex;
}
.total-footar{
    background-color: rgb(247, 246, 246);
}
.footar-aria{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 50px;
}
.footar-description{
    color: #2b2c2d;
    text-align: center;
    font-size: 20px;
}
footer div ul li a{
    padding: 12px;
}
